fastapi==0.116.1
uvicorn[standard]==0.35.0
python-dotenv==1.1.1

llama-index==0.14.22
llama-index-core==0.14.22

llama-index-llms-google-genai==0.9.5
llama-index-embeddings-google-genai==0.5.1

llama-index-vector-stores-chroma==0.5.5
chromadb==1.0.20

google-generativeai==0.8.5

sentence-transformers==5.1.0
transformers==4.55.4
torch==2.8.0

pymupdf==1.26.4

supabase==2.18.1
psycopg2-binary==2.9.10

tiktoken==0.11.0
cohere==5.18.0
httpx==0.28.1
llama-index-retrievers-bm25==0.7.1
PyStemmer==2.2.0.3